<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width: 50%; border:1px solid black; margin: 50px auto; padding: 10px;">

        <h1>Results</h1>
        <div th:each="entry : ${result}">
            <span th:text="'['  + ${entry.key} + ']' + '->' + '[' + ${entry.value} + '%' + ']' "></span>
            <meter style="width: 50%" th:value="${entry.value}" min="0" max="100"></meter>
        </div>

    </div>
</body>
</html>